# MongoDB local installation
mongodb-linux-x86_64-*/
mongodb.tgz
data/

# Backend
backend/uploads/*
!backend/uploads/.gitkeep
backend/server
backend/bootstrap
backend/bootstrap.zip
backend/function.zip

# Frontend
frontend/node_modules/
frontend/dist/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
